@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	background-image: url(img/cubes.png);
	background-repeat: repeat;
	height: 800px;
}

header {
	/*background-image: url(img/animal.jpeg);
	background-size: cover;
	background-repeat: no-repeat; 
	height: 800px;
	margin-bottom: 	-10px;*/

	font-family: 'Raleway', sans-serif;
}

header h1{
	text-align: right;
	font-size: 30px;
	color: white;
	text-shadow: 1px 3px 2px #DA96CB;
	margin-right: 20px;
	padding: 10px 15px;
}

header h2 {
	text-align: center;
	margin: 200px 0;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer {
	clear:both;
	padding: 1em 2em;
}


.summary{
	margin-top: 200px;
	margin-left: 3%;

}

.preamble {
	margin: 100px 3%;
}

.explanation, .participation{
	float:left;
	margin-left:3%;
	padding: 3% 0;

}
.benefits, .requirements {
	float:left;
	margin-left:3%;
	padding: 3% 0; 

}

.explanation { width: 40%}
.participation { width: 40%}
.benefits { width: 40% }
.requirements { width: 40%}

.wrapper {
	display: flex;
	flex-direction: row;	
	position: absolute;
	top: 2em;
	left: 2em;
}




/*p {
	/*display: inline-block;
	display: flex;
	flex-wrap: wrap;
	margin-inline-end: 1em;
	spadding: 5px 0;
	
}
/*.main h3{
	text-align: center;	
	margin-bottom: 40px auto;
}*/