	@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* ================================= 
  Base Element Styles
==================================== */

body {
	/*background-image: url(img/cubes.png);*/
	background: linear-gradient(rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.3)50% , rgba(207,229,12,0.2) 10%),
				url(img/cubes.png) repeat, center center; 
	/*background-repeat: repeat;*/
	
}

header {
	font-family: 'Press Start 2P', cursive;
	margin-top: 40px;


	

	/*background: rgba(71, 146, 144, 0.6);
	background-position: center;
    border-radius: 50%;
    height: 500px;
    width: 500px;*/


	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;*/	

	/*background: rgba(71, 146, 144, 0.6);
	border-radius: 50%;
	height: 500px;
	width: 500px;
	position: absolute;*/
}

h1 {
	font-size: 30px;
	color: white;
	text-shadow: 1px 3px 2px #EFB5F0;

}

h2 {
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	text-shadow: 2px -5px 0.5px rgba(0,0,200,0.2);
	  /*text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/

}

footer {
	clear:both;
	padding: 1em 2em;
	position: absolute;
	top: 0;
	right: 0;
}

footer a{
	color:white;

}

footer a:hover {
	color: #EFB5F0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

abbr {
	border-bottom: none !important;
	cursor: default !important;
}


/* ================================= 
  Base Layout Styles
==================================== */

/*.intro {
	background: rgba(71, 146, 144, 0.6);
	border-radius: 50%;
	height: 500px;
	width: 500px;

}*/

.intro {
	 background: linear-gradient(#E3D026) 50% ,red 20%); /* Standard syntax */
	

	/*background-image: url(img/penrose.png);
	background-size: 300px 250px;
	background-repeat: no-repeat;
	background-position: center; PENROSE!!*/
}

.intro h2:hover {
	transform: rotate();
	transform-origin: center;
	transform: scale();

	animation: wow 2s;
}
.summary p{
	color: white;

}

.summary {
	background: grey;
	border: 
	padding:50px 40px;	


	margin-bottom: 200px;
	margin-left: 3%;
}

.preamble {
	background: #E3D026;
	color: white;
	width: 30%;
	margin: 0 2%;
	padding: 2em 1em;
	box-sizing: border-box;

}

.main h3 {
	text-transform: uppercase; 
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
}

.main {
	background-image: url(img/slugs.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;

	font-size: 20px;

	margin-top: 2%;
	margin-bottom: 2%;

}

	.explanation {
		color: white;
		background: rgba(13,255,156,0.6);
		
		height: 350px;
		width: 600px;
		/*background: rgba(13,255,156,0.6);
		order: 0;
		width: 600px;*/
		margin-right: 6%;
		margin-left:0; 

		padding:4% 2%;

	}
	
	.participation {
		color: white;
		background: rgba(13,255,156,0.6);
		order: 1;
		width: 650px;
		margin-right: 2%;
		margin-top: 40px;
		border-sizing:border-box;

		padding:4%;
	}
	
	.benefits {
		order: 2;
		background: rgba(255,255,255,0);
		width: 600px;
		margin-right: 6%;
		box-sizing: initial;

		margin-top: 20px;
		overflow: initial;
	}

	.benefits p{
		font-size: 25px;
		order: 2;
		color: white;
		background: rgba(227,208,38,0.6);
		border-radius: 50%;
		height: 350px;
		width: 350px;
		
		overflow: initial;

		text-align: center;

		margin: 3%;
		padding: 20% 20%;
	}
	
	.requirements {
		color: white;
		background: rgba(13,255,156,0.6);
		order: 3;
		height: 700px;
		width: 600px;
		box-sizing: border-box;
		overflow: scroll;
		
		margin-top:3%;
		margin-bottom: 0;

		padding:4%;	
	}


.wrapper {
	display:flex;
	justify-content: space-around;
	align-items: baseline;
	width: auto;
	margin-bottom: 40px;


	border-style: ;
	border: outline;
	background-color: pink;

}

.design-selection {
	margin: 20px ;
	
}


/* ================================= 
   Media Query
==================================== */

@keyframes wow {
	0% {transform: translateY(20px)}

	25% {transform: translateY(-10px)}

	75% {transform: scale()}

	100% {transform: scale()}
}

@media (max-width: 768px) {
	.main {
		
		
	}

	/*.wrapper {
		background-color: black;
	}*/
}
